body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 15px 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

#map {
    height: 500px; /* 地圖高度 */
    width: 100%;   /* 地圖寬度 */
    margin: 20px 0; /* 上下留空間 */
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #f1f1f1;
}
